<?php

/*
 * Configuration for the module openmetrics.
 */

$config = [
    "redis" => [
        'host' => '127.0.0.1',
        'port' => 6379,
        'password' => null,
        'timeout' => 0.1, // in seconds
        'read_timeout' => '10', // in seconds
        'persistent_connections' => false
    ],
    //"basicAuth" => 'admin:changeme' // htpasswd -nB prometheus
];
